In [58]:
import pandas as pd
import numpy as np

In [59]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB # Gaussian Naive Bays
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier #stochastic gradient descent
from sklearn.tree import DecisionTreeClassifier

# Importing Data

In [60]:
pd.read_csv('crunchbase_monthly_export.csv', engine='python')

,name,homepage_url,market,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,founded_month,founded_quarter,founded_year,first_funding_at,last_funding_at
0,#waywire,http://www.waywire.com,News,"1,750,000",acquired,USA,NY,New York City,New York,1,6/1/12,2012-06,2012-Q2,2012.0,6/30/12,6/30/12
1,&TV Communications,http://enjoyandtv.com,Games,"4,000,000",operating,USA,CA,Los Angeles,Los Angeles,2,NaN,NaN,NaN,NaN,6/4/10,9/23/10
2,'Rock' Your Paper,http://www.rockyourpaper.org,Publishing,"40,000",operating,EST,NaN,Tallinn,Tallinn,1,10/26/12,2012-10,2012-Q4,2012.0,8/9/12,8/9/12
3,(In)Touch Network,http://www.InTouchNetwork.com,Electronics,"1,500,000",operating,GBR,NaN,London,London,1,4/1/11,2011-04,2011-Q2,2011.0,4/1/11,4/1/11
4,#NAME?,http://plusn.com,Software,"1,200,000",operating,USA,NY,New York City,New York,2,1/1/12,2012-01,2012-Q1,2012.0,8/29/12,9/4/14
5,-R- Ranch and Mine,NaN,Games,"10,000",operating,USA,TX,Dallas,Fort Worth,1,7/8/14,2014-07,2014-Q3,2014.0,8/17/14,8/17/14
6,.Club Domains,http://nic.club/,Software,"7,000,000",NaN,USA,FL,Ft. Lauderdale,Oakland Park,1,10/10/11,2011-10,2011-Q4,2011.0,5/31/13,5/31/13
7,.Fox Networks,http://www.dotfox.com,Advertising,"4,912,393",closed,ARG,NaN,Buenos Aires,Buenos Aires,1,NaN,NaN,NaN,NaN,1/16/07,1/16/07
8,0-6.com,http://www.0-6.com,Curated Web,"2,000,000",operating,NaN,NaN,NaN,NaN,1,1/1/07,2007-01,2007-Q1,2007.0,3/19/08,3/19/08
9,004 Technologies,http://004gmbh.de/en/004-interact,Software,-,operating,USA,IL,"Springfield, Illinois",Champaign,1,1/1/10,2010-01,2010-Q1,2010.0,7/24/14,7/24/14
10,01Games Technology,http://www.01games.hk/,Games,"41,250",operating,HKG,NaN,Hong Kong,NaN,1,NaN,NaN,NaN,NaN,7/1/14,7/1/14
11,0xdata,http://www.0xdata.com,Analytics,"10,600,000",operating,USA,CA,SF Bay Area,Mountain View,2,1/1/11,2011-01,2011-Q1,2011.0,1/3/13,7/19/14
12,"1,2,3 Listo",http://www.123listo.com,E-Commerce,"40,000",operating,CHL,NaN,Santiago,Las Condes,1,1/1/12,2012-01,2012-Q1,2012.0,2/18/13,2/18/13
13,1-4 All,NaN,Software,-,operating,USA,NC,NC - Other,Connellys Springs,1,NaN,NaN,NaN,NaN,4/21/13,4/21/13
14,1-800-DENTIST,http://www.1800dentist.com,Health and Wellness,-,operating,USA,CA,Los Angeles,Los Angeles,1,1/1/86,1986-01,1986-Q1,1986.0,8/19/10,8/19/10
15,1-800-DOCTORS,http://1800doctors.com,Health and Wellness,"1,750,000",operating,USA,NJ,Newark,Iselin,1,1/1/84,1984-01,1984-Q1,1984.0,3/2/11,3/2/11
16,1.618 Technology,NaN,Real Estate,-,operating,USA,FL,Orlando,Orlando,1,12/7/13,2013-12,2013-Q4,2013.0,1/22/14,1/22/14
17,10-20 Media,http://www.10-20media.com,E-Commerce,"2,050,000",operating,USA,MD,Baltimore,Woodbine,4,1/1/01,2001-01,2001-Q1,2001.0,6/18/09,12/28/11
18,1000 Corks,http://1000corks.com,Search,"40,000",operating,USA,OR,"Portland, Oregon",Lake Oswego,1,1/1/08,2008-01,2008-Q1,2008.0,8/23/11,8/23/11
19,1000 Markets,http://www.1000markets.com,Marketplaces,"500,000",acquired,NaN,NaN,NaN,NaN,1,1/1/09,2009-01,2009-Q1,2009.0,5/15/09,5/15/09
20,1000jobboersen.de,http://www.1000jobboersen.de,Curated Web,-,operating,DEU,NaN,Berlin,Berlin,1,NaN,NaN,NaN,NaN,9/16/11,9/16/11
21,1000memories,http://1000memories.com,Curated Web,"2,535,000",acquired,USA,CA,SF Bay Area,San Francisco,2,7/1/10,2010-07,2010-Q3,2010.0,1/1/10,2/16/11
22,1000museums.com,http://www.1000museums.com,Curated Web,"4,962,651",operating,USA,WA,Seattle,Bellevue,5,1/1/08,2008-01,2008-Q1,2008.0,10/14/09,9/19/14
23,1001 Menus,http://1001menus.com,Restaurants,"4,059,079",operating,FRA,NaN,Paris,Paris,4,11/20/10,2010-11,2010-Q4,2010.0,12/15/12,11/13/13
24,1006.tv,http://www.1006.tv/,Media,"10,000,000",operating,CHN,NaN,Beijing,Beijing,3,1/1/09,2009-01,2009-Q1,2009.0,1/1/11,7/31/14
25,100du.tv,http://www.100du.com,Hospitality,"3,000,000",operating,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,1/7/08,8/13/10
26,100e.com,http://www.100e.com,Education,"3,000,000",operating,CHN,NaN,Beijing,Beijing,1,NaN,NaN,NaN,NaN,1/1/06,1/1/06
27,100Plus,http://www.100plus.com,Analytics,"1,250,000",acquired,USA,CA,SF Bay Area,San Francisco,2,9/16/11,2011-09,2011-Q3,2011.0,11/2/11,11/30/11
28,1010data,http://www.1010data.com,Software,"35,000,000",operating,USA,NY,New York City,New York,1,1/1/00,2000-01,2000-Q1,2000.0,3/8/10,3/8/10
29,10BestThings,http://10bestthings.com,Curated Web,"50,000",closed,USA,OH,Cleveland,Cleveland,1,4/1/09,2009-04,2009-Q2,2009.0,4/1/09,4/1/09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47728,Zwittle,http://zwittle.com,Software,"190,000",operating,USA,UT,Salt Lake City,Logan,1,1/1/11,2011-01,2011-Q1,2011.0,4/19/12,4/19/12
47729,zwoor.com,http://www.zwoor.com,Polling,"100,000",operating,NaN,NaN,NaN,NaN,1,1/1/10,2010-01,2010-Q1,2010.0,1/1/11,1/1/11
47730,Zyante,http://www.zyante.com,News,"870,000",operating,USA,CA,SF Bay Area,Los Gatos,2,1/1/12,2012-01,2012-Q1,2012.0,12/1/13,4/2/14
47731,ZYB,http://zyb.com,Social Network Media,"3,845,100",acquired,DNK,NaN,Copenhagen,Copenhagen,2,NaN,NaN,NaN,NaN,1/1/05,9/1/06
47732,Zyga,http://www.zyga.com,Medical Devices,"55,750,000",operating,USA,MN,Minneapolis,Minnetonka,6,1/1/08,2008-01,2008-Q1,2008.0,10/6/08,9/25/14
47733,Zygo Communications,http://www.zygocommunications.com/who,Mobile,-,closed,GBR,NaN,London,London,1,6/21/05,2005-06,2005-Q2,2005.0,11/19/07,11/19/07
47734,Zygo Corporation,http://www.zygo.com,Manufacturing,"9,000,000",NaN,USA,CT,CT - Other,Middlefield,1,NaN,NaN,NaN,NaN,10/24/11,10/24/11
47735,Zyken - NightCove,http://www.zyken.com,Hardware + Software,"3,384,225",acquired,FRA,NaN,Paris,Paris,4,1/1/05,2005-01,2005-Q1,2005.0,1/1/05,4/1/12
47736,Zykis,http://zykis.com,Automotive,"800,000",closed,USA,CA,Anaheim,Irvine,1,10/27/06,2006-10,2006-Q4,2006.0,10/27/06,10/27/06
47737,Zylie the Bear,http://zyliethebear.com,E-Commerce,"75,000",operating,USA,CT,Hartford,Greenwich,1,1/1/09,2009-01,2009-Q1,2009.0,6/7/12,6/7/12
47738,Zylun Staffing,http://www.zylun.com,Software,"666,154",operating,USA,UT,Salt Lake City,Lehi,1,1/1/10,2010-01,2010-Q1,2010.0,8/28/14,8/28/14
47739,Zyme Solutions,http://www.zymesolutions.com,Hardware,"12,039,999",operating,USA,CA,CA - Other,Redwood Shores,5,1/1/04,2004-01,2004-Q1,2004.0,9/12/05,5/1/14
47740,Zymergen,http://www.zymergen.com,Biotechnology,-,operating,USA,CA,SF Bay Area,San Francisco,1,1/1/13,2013-01,2013-Q1,2013.0,1/1/14,1/1/14
47741,Zymetis,http://www.zymetis.com,Biotechnology,"2,257,464",closed,USA,MD,"Washington, D.C.",College Park,2,1/1/06,2006-01,2006-Q1,2006.0,1/11/10,1/31/10
47742,Zymeworks,http://zymeworks.com,Biotechnology,"38,900,000",operating,CAN,BC,Vancouver,Vancouver,5,4/1/04,2004-04,2004-Q2,2004.0,3/3/08,1/9/14
47743,Zympi,http://www.zympi.com,Web Hosting,-,operating,NaN,NaN,NaN,NaN,1,9/3/10,2010-09,2010-Q3,2010.0,11/22/11,11/22/11
47744,Zyncd,http://www.zyncd.com,Crowdsourcing,-,operating,GBR,NaN,London,London,1,1/1/14,2014-01,2014-Q1,2014.0,2/1/14,2/1/14
47745,Zyncro,http://www.zyncro.com,MicroBlogging,"3,805,520",operating,ESP,NaN,Barcelona,Barcelona,2,9/1/09,2009-09,2009-Q3,2009.0,4/5/11,2/3/12
47746,Zynga,http://www.zynga.com,Technology,"866,550,786",operating,USA,CA,SF Bay Area,San Francisco,9,7/1/07,2007-07,2007-Q3,2007.0,1/1/07,2/18/11
47747,Zyngenia,http://www.zyngenia.com,Biotechnology,"25,000,000",operating,USA,MD,"Washington, D.C.",Gaithersburg,1,1/1/08,2008-01,2008-Q1,2008.0,9/9/10,9/9/10
47748,Zynstra,http://www.zynstra.com,Software,"14,750,000",operating,GBR,NaN,Bath,Bath,4,11/30/11,2011-11,2011-Q4,2011.0,3/3/12,7/9/14
47749,ZYOMYX,http://www.zyomyx.com,Biotechnology,"34,275,015",operating,USA,MO,MO - Other,Fremont,4,1/1/98,1998-01,1998-Q1,1998.0,1/29/10,3/26/14
47750,Zyraz Technology,http://www.zyraz.com,Biotechnology,"15,419,877",closed,MYS,NaN,MYS - Other,Damansara New Village,4,1/1/94,1994-01,1994-Q1,1994.0,1/1/08,2/15/13
47751,Zyrra,http://www.zyrra.com,E-Commerce,"1,510,500",operating,USA,MA,Boston,Cambridge,4,NaN,NaN,NaN,NaN,10/21/10,10/18/12
47752,Zytoprotec,http://www.zytoprotec.com,Biotechnology,"2,686,600",operating,AUT,NaN,Gerasdorf Bei Wien,Gerasdorf Bei Wien,1,1/1/07,2007-01,2007-Q1,2007.0,1/29/13,1/29/13
47753,Zzish,http://www.zzish.com,Education,"320,000",operating,GBR,NaN,London,London,1,1/28/13,2013-01,2013-Q1,2013.0,3/24/14,3/24/14
47754,ZZNode Science and Technology,http://www.zznode.com,Enterprise Software,"1,587,301",operating,CHN,NaN,Beijing,Beijing,1,NaN,NaN,NaN,NaN,4/1/12,4/1/12
47755,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Web Development,"97,398",operating,HRV,NaN,Split,Split,5,5/13/12,2012-05,2012-Q2,2012.0,11/1/11,9/10/14
47756,[a]list games,http://www.alistgames.com,Games,"9,300,000",operating,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,11/21/11,11/21/11
47757,[x+1],http://www.xplusone.com/,Enterprise Software,"45,000,000",operating,USA,NY,New York City,New York,4,1/1/99,1999-01,1999-Q1,1999.0,6/1/08,4/4/13

In [61]:
with open('crunchbase_monthly_export.csv', encoding="latin-1") as datafile:
    new_df= pd.read_csv(datafile)

In [62]:
new_df.head()

,name,homepage_url,market,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,founded_month,founded_quarter,founded_year,first_funding_at,last_funding_at
0,#waywire,http://www.waywire.com,News,"1,750,000",acquired,USA,NY,New York City,New York,1,6/1/12,2012-06,2012-Q2,2012.0,6/30/12,6/30/12
1,&TV Communications,http://enjoyandtv.com,Games,"4,000,000",operating,USA,CA,Los Angeles,Los Angeles,2,NaN,NaN,NaN,NaN,6/4/10,9/23/10
2,'Rock' Your Paper,http://www.rockyourpaper.org,Publishing,"40,000",operating,EST,NaN,Tallinn,Tallinn,1,10/26/12,2012-10,2012-Q4,2012.0,8/9/12,8/9/12
3,(In)Touch Network,http://www.InTouchNetwork.com,Electronics,"1,500,000",operating,GBR,NaN,London,London,1,4/1/11,2011-04,2011-Q2,2011.0,4/1/11,4/1/11
4,#NAME?,http://plusn.com,Software,"1,200,000",operating,USA,NY,New York City,New York,2,1/1/12,2012-01,2012-Q1,2012.0,8/29/12,9/4/14

In [63]:
new_df.info

<bound method DataFrame.info of                                 name                           homepage_url  \
0                           #waywire                 http://www.waywire.com
1                 &TV Communications                  http://enjoyandtv.com
2                  'Rock' Your Paper           http://www.rockyourpaper.org
3                  (In)Touch Network          http://www.InTouchNetwork.com
4                             #NAME?                       http://plusn.com
5                 -R- Ranch and Mine                                    NaN
6                      .Club Domains                       http://nic.club/
7                      .Fox Networks                  http://www.dotfox.com
8                            0-6.com                     http://www.0-6.com
9                   004 Technologies      http://004gmbh.de/en/004-interact
10                01Games Technology                 http://www.01games.hk/
11                            0xdata                  http://www.0xdata.com
12                       1,2,3 Listo                http://www.123listo.com
13                           1-4 All                                    NaN
14                     1-800-DENTIST             http://www.1800dentist.com
15                     1-800-DOCTORS                 http://1800doctors.com
16                  1.618 Technology                                    NaN
17                       10-20 Media              http://www.10-20media.com
18                        1000 Corks                   http://1000corks.com
19                      1000 Markets             http://www.1000markets.com
20                 1000jobboersen.de           http://www.1000jobboersen.de
21                      1000memories                http://1000memories.com
22                   1000museums.com             http://www.1000museums.com
23                        1001 Menus                   http://1001menus.com
24                           1006.tv                    http://www.1006.tv/
25                          100du.tv                   http://www.100du.com
26                          100e.com                    http://www.100e.com
27                           100Plus                 http://www.100plus.com
28                          1010data                http://www.1010data.com
29                      10BestThings                http://10bestthings.com
...                              ...                                    ...
47728                        Zwittle                     http://zwittle.com
47729                      zwoor.com                   http://www.zwoor.com
47730                         Zyante                  http://www.zyante.com
47731                            ZYB                         http://zyb.com
47732                           Zyga                    http://www.zyga.com
47733            Zygo Communications  http://www.zygocommunications.com/who
47734               Zygo Corporation                    http://www.zygo.com
47735              Zyken - NightCove                   http://www.zyken.com
47736                          Zykis                       http://zykis.com
47737                 Zylie the Bear                http://zyliethebear.com
47738                 Zylun Staffing                   http://www.zylun.com
47739                 Zyme Solutions           http://www.zymesolutions.com
47740                       Zymergen                http://www.zymergen.com
47741                        Zymetis                 http://www.zymetis.com
47742                      Zymeworks                   http://zymeworks.com
47743                          Zympi                   http://www.zympi.com
47744                          Zyncd                   http://www.zyncd.com
47745                         Zyncro                  http://www.zyncro.com
47746                          Zynga                   http://www.zynga.com
47747                       Zyngenia                http://www.zyngenia.com
47748                        Zynstra                 http://www.zynstra.com
47749                         ZYOMYX                  http://www.zyomyx.com
47750               Zyraz Technology                   http://www.zyraz.com
47751                          Zyrra                   http://www.zyrra.com
47752                     Zytoprotec              http://www.zytoprotec.com
47753                          Zzish                   http://www.zzish.com
47754  ZZNode Science and Technology                  http://www.zznode.com
47755          Zzzzapp Wireless ltd.                 http://www.zzzzapp.com
47756                  [a]list games              http://www.alistgames.com
47757                          [x+1]               http://www.xplusone.com/

                      market   funding_total_usd      status country_code  \
0                       News            1,750,000   acquired          USA
1                      Games            4,000,000  operating          USA
2                 Publishing               40,000  operating          EST
3                Electronics            1,500,000  operating          GBR
4                   Software            1,200,000  operating          USA
5                      Games               10,000  operating          USA
6                   Software            7,000,000        NaN          USA
7                Advertising            4,912,393     closed          ARG
8                Curated Web            2,000,000  operating          NaN
9                   Software                 -     operating          USA
10                     Games               41,250  operating          HKG
11                 Analytics           10,600,000  operating          USA
12                E-Commerce               40,000  operating          CHL
13                  Software                 -     operating          USA
14       Health and Wellness                 -     operating          USA
15       Health and Wellness            1,750,000  operating          USA
16               Real Estate                 -     operating          USA
17                E-Commerce            2,050,000  operating          USA
18                    Search               40,000  operating          USA
19              Marketplaces              500,000   acquired          NaN
20               Curated Web                 -     operating          DEU
21               Curated Web            2,535,000   acquired          USA
22               Curated Web            4,962,651  operating          USA
23               Restaurants            4,059,079  operating          FRA
24                     Media           10,000,000  operating          CHN
25               Hospitality            3,000,000  operating          NaN
26                 Education            3,000,000  operating          CHN
27                 Analytics            1,250,000   acquired          USA
28                  Software           35,000,000  operating          USA
29               Curated Web               50,000     closed          USA
...                       ...                 ...        ...          ...
47728               Software              190,000  operating          USA
47729                Polling              100,000  operating          NaN
47730                   News              870,000  operating          USA
47731   Social Network Media            3,845,100   acquired          DNK
47732        Medical Devices           55,750,000  operating          USA
47733                 Mobile                 -        closed          GBR
47734          Manufacturing            9,000,000        NaN          USA
47735    Hardware + Software            3,384,225   acquired          FRA
47736             Automotive              800,000     closed          USA
47737             E-Commerce               75,000  operating          USA
47738               Software              666,154  operating          USA
47739               Hardware           12,039,999  operating          USA
47740          Biotechnology                 -     operating          USA
47741          Biotechnology            2,257,464     closed          USA
47742          Biotechnology           38,900,000  operating          CAN
47743            Web Hosting                 -     operating          NaN
47744          Crowdsourcing                 -     operating          GBR
47745          MicroBlogging            3,805,520  operating          ESP
47746             Technology          866,550,786  operating          USA
47747          Biotechnology           25,000,000  operating          USA
47748               Software           14,750,000  operating          GBR
47749          Biotechnology           34,275,015  operating          USA
47750          Biotechnology           15,419,877     closed          MYS
47751             E-Commerce            1,510,500  operating          USA
47752          Biotechnology            2,686,600  operating          AUT
47753              Education              320,000  operating          GBR
47754    Enterprise Software            1,587,301  operating          CHN
47755        Web Development               97,398  operating          HRV
47756                  Games            9,300,000  operating          NaN
47757    Enterprise Software           45,000,000  operating          USA

      state_code                 region                   city  \
0             NY          New York City               New York
1             CA            Los Angeles            Los Angeles
2            NaN                Tallinn                Tallinn
3            NaN                 London                 London
4             NY          New York City               New York
5             TX                 Dallas             Fort Worth
6             FL         Ft. Lauderdale           Oakland Park
7            NaN           Buenos Aires           Buenos Aires
8            NaN                    NaN                    NaN
9             IL  Springfield, Illinois              Champaign
10           NaN              Hong Kong                    NaN
11            CA            SF Bay Area          Mountain View
12           NaN               Santiago             Las Condes
13            NC             NC - Other      Connellys Springs
14            CA            Los Angeles            Los Angeles
15            NJ                 Newark                 Iselin
16            FL                Orlando                Orlando
17            MD              Baltimore               Woodbine
18            OR       Portland, Oregon            Lake Oswego
19           NaN                    NaN                    NaN
20           NaN                 Berlin                 Berlin
21            CA            SF Bay Area          San Francisco
22            WA                Seattle               Bellevue
23           NaN                  Paris                  Paris
24           NaN                Beijing                Beijing
25           NaN                    NaN                    NaN
26           NaN                Beijing                Beijing
27            CA            SF Bay Area          San Francisco
28            NY          New York City               New York
29            OH              Cleveland              Cleveland
...          ...                    ...                    ...
47728         UT         Salt Lake City                  Logan
47729        NaN                    NaN                    NaN
47730         CA            SF Bay Area              Los Gatos
47731        NaN             Copenhagen             Copenhagen
47732         MN            Minneapolis             Minnetonka
47733        NaN                 London                 London
47734         CT             CT - Other            Middlefield
47735        NaN                  Paris                  Paris
47736         CA                Anaheim                 Irvine
47737         CT               Hartford              Greenwich
47738         UT         Salt Lake City                   Lehi
47739         CA             CA - Other         Redwood Shores
47740         CA            SF Bay Area          San Francisco
47741         MD       Washington, D.C.           College Park
47742         BC              Vancouver              Vancouver
47743        NaN                    NaN                    NaN
47744        NaN                 London                 London
47745        NaN              Barcelona              Barcelona
47746         CA            SF Bay Area          San Francisco
47747         MD       Washington, D.C.           Gaithersburg
47748        NaN                   Bath                   Bath
47749         MO             MO - Other                Fremont
47750        NaN            MYS - Other  Damansara New Village
47751         MA                 Boston              Cambridge
47752        NaN     Gerasdorf Bei Wien     Gerasdorf Bei Wien
47753        NaN                 London                 London
47754        NaN                Beijing                Beijing
47755        NaN                  Split                  Split
47756        NaN                    NaN                    NaN
47757         NY          New York City               New York

       funding_rounds founded_at founded_month founded_quarter  founded_year  \
0                   1     6/1/12       2012-06         2012-Q2        2012.0
1                   2        NaN           NaN             NaN           NaN
2                   1   10/26/12       2012-10         2012-Q4        2012.0
3                   1     4/1/11       2011-04         2011-Q2        2011.0
4                   2     1/1/12       2012-01         2012-Q1        2012.0
5                   1     7/8/14       2014-07         2014-Q3        2014.0
6                   1   10/10/11       2011-10         2011-Q4        2011.0
7                   1        NaN           NaN             NaN           NaN
8                   1     1/1/07       2007-01         2007-Q1        2007.0
9                   1     1/1/10       2010-01         2010-Q1        2010.0
10                  1        NaN           NaN             NaN           NaN
11                  2     1/1/11       2011-01         2011-Q1        2011.0
12                  1     1/1/12       2012-01         2012-Q1        2012.0
13                  1        NaN           NaN             NaN           NaN
14                  1     1/1/86       1986-01         1986-Q1        1986.0
15                  1     1/1/84       1984-01         1984-Q1        1984.0
16                  1    12/7/13       2013-12         2013-Q4        2013.0
17                  4     1/1/01       2001-01         2001-Q1        2001.0
18                  1     1/1/08       2008-01         2008-Q1        2008.0
19                  1     1/1/09       2009-01         2009-Q1        2009.0
20                  1        NaN           NaN             NaN           NaN
21                  2     7/1/10       2010-07         2010-Q3        2010.0
22                  5     1/1/08       2008-01         2008-Q1        2008.0
23                  4   11/20/10       2010-11         2010-Q4        2010.0
24                  3     1/1/09       2009-01         2009-Q1        2009.0
25                  2        NaN           NaN             NaN           NaN
26                  1        NaN           NaN             NaN           NaN
27                  2    9/16/11       2011-09         2011-Q3        2011.0
28                  1     1/1/00       2000-01         2000-Q1        2000.0
29                  1     4/1/09       2009-04         2009-Q2        2009.0
...               ...        ...           ...             ...           ...
47728               1     1/1/11       2011-01         2011-Q1        2011.0
47729               1     1/1/10       2010-01         2010-Q1        2010.0
47730               2     1/1/12       2012-01         2012-Q1        2012.0
47731               2        NaN           NaN             NaN           NaN
47732               6     1/1/08       2008-01         2008-Q1        2008.0
47733               1    6/21/05       2005-06         2005-Q2        2005.0
47734               1        NaN           NaN             NaN           NaN
47735               4     1/1/05       2005-01         2005-Q1        2005.0
47736               1   10/27/06       2006-10         2006-Q4        2006.0
47737               1     1/1/09       2009-01         2009-Q1        2009.0
47738               1     1/1/10       2010-01         2010-Q1        2010.0
47739               5     1/1/04       2004-01         2004-Q1        2004.0
47740               1     1/1/13       2013-01         2013-Q1        2013.0
47741               2     1/1/06       2006-01         2006-Q1        2006.0
47742               5     4/1/04       2004-04         2004-Q2        2004.0
47743               1     9/3/10       2010-09         2010-Q3        2010.0
47744               1     1/1/14       2014-01         2014-Q1        2014.0
47745               2     9/1/09       2009-09         2009-Q3        2009.0
47746               9     7/1/07       2007-07         2007-Q3        2007.0
47747               1     1/1/08       2008-01         2008-Q1        2008.0
47748               4   11/30/11       2011-11         2011-Q4        2011.0
47749               4     1/1/98       1998-01         1998-Q1        1998.0
47750               4     1/1/94       1994-01         1994-Q1        1994.0
47751               4        NaN           NaN             NaN           NaN
47752               1     1/1/07       2007-01         2007-Q1        2007.0
47753               1    1/28/13       2013-01         2013-Q1        2013.0
47754               1        NaN           NaN             NaN           NaN
47755               5    5/13/12       2012-05         2012-Q2        2012.0
47756               1        NaN           NaN             NaN           NaN
47757               4     1/1/99       1999-01         1999-Q1        1999.0

      first_funding_at last_funding_at
0              6/30/12         6/30/12
1               6/4/10         9/23/10
2               8/9/12          8/9/12
3               4/1/11          4/1/11
4              8/29/12          9/4/14
5              8/17/14         8/17/14
6              5/31/13         5/31/13
7              1/16/07         1/16/07
8              3/19/08         3/19/08
9              7/24/14         7/24/14
10              7/1/14          7/1/14
11              1/3/13         7/19/14
12             2/18/13         2/18/13
13             4/21/13         4/21/13
14             8/19/10         8/19/10
15              3/2/11          3/2/11
16             1/22/14         1/22/14
17             6/18/09        12/28/11
18             8/23/11         8/23/11
19             5/15/09         5/15/09
20             9/16/11         9/16/11
21              1/1/10         2/16/11
22            10/14/09         9/19/14
23            12/15/12        11/13/13
24              1/1/11         7/31/14
25              1/7/08         8/13/10
26              1/1/06          1/1/06
27             11/2/11        11/30/11
28              3/8/10          3/8/10
29              4/1/09          4/1/09
...                ...             ...
47728          4/19/12         4/19/12
47729           1/1/11          1/1/11
47730          12/1/13          4/2/14
47731           1/1/05          9/1/06
47732          10/6/08         9/25/14
47733         11/19/07        11/19/07
47734         10/24/11        10/24/11
47735           1/1/05          4/1/12
47736         10/27/06        10/27/06
47737           6/7/12          6/7/12
47738          8/28/14         8/28/14
47739          9/12/05          5/1/14
47740           1/1/14          1/1/14
47741          1/11/10         1/31/10
47742           3/3/08          1/9/14
47743         11/22/11        11/22/11
47744           2/1/14          2/1/14
47745           4/5/11          2/3/12

In [64]:
new_df.shape

(47758, 16)

In [65]:
# Descriptive statistics for each column
new_df.describe()

       funding_rounds  founded_year
count    47758.000000  37255.000000
mean         1.688576   2007.247135
std          1.282093      7.589313
min          1.000000   1900.000000
25%          1.000000   2005.000000
50%          1.000000   2009.000000
75%          2.000000   2012.000000
max         17.000000   2015.000000

# Data Wrangling

In [66]:
# Drop the frequencies column and two other columns that will not be used in the model.
features = new_df.drop (['homepage_url','founded_month'], axis= 1)

In [67]:
features.head()

,name,market,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,founded_quarter,founded_year,first_funding_at,last_funding_at
0,#waywire,News,"1,750,000",acquired,USA,NY,New York City,New York,1,6/1/12,2012-Q2,2012.0,6/30/12,6/30/12
1,&TV Communications,Games,"4,000,000",operating,USA,CA,Los Angeles,Los Angeles,2,NaN,NaN,NaN,6/4/10,9/23/10
2,'Rock' Your Paper,Publishing,"40,000",operating,EST,NaN,Tallinn,Tallinn,1,10/26/12,2012-Q4,2012.0,8/9/12,8/9/12
3,(In)Touch Network,Electronics,"1,500,000",operating,GBR,NaN,London,London,1,4/1/11,2011-Q2,2011.0,4/1/11,4/1/11
4,#NAME?,Software,"1,200,000",operating,USA,NY,New York City,New York,2,1/1/12,2012-Q1,2012.0,8/29/12,9/4/14

In [68]:
features_clean = features.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
print (features_clean)

                     name                    market   funding_total_usd   \
0                #waywire                      News            1,750,000
4                  #NAME?                  Software            1,200,000
5      -R- Ranch and Mine                     Games               10,000
9        004 Technologies                  Software                 -
11                 0xdata                 Analytics           10,600,000
14          1-800-DENTIST       Health and Wellness                 -
15          1-800-DOCTORS       Health and Wellness            1,750,000
16       1.618 Technology               Real Estate                 -
17            10-20 Media                E-Commerce            2,050,000
18             1000 Corks                    Search               40,000
21           1000memories               Curated Web            2,535,000
22        1000museums.com               Curated Web            4,962,651
27                100Plus                 Analytics            1,250,000
28               1010data                  Software           35,000,000
29           10BestThings               Curated Web               50,000
33       10X Technologies             Biotechnology            3,000,000
34             10X10 Room                  Software               77,500
39             120 Sports                    Sports                 -
40            121 Rentals               Real Estate                 -
42               121nexus           Pharmaceuticals              794,000
49              12Society                E-Commerce                 -
50      1366 Technologies             Manufacturing           66,450,000
53              140 Proof               Advertising            5,500,000
54                140Fire             Entertainment              500,000
56                 15Five                  Software            3,400,000
58      16 Mile Solutions                  Software              199,957
59                169 ST.                     Games               50,000
60            170 Systems                  Software           14,000,000
67                  1Cast                 Lifestyle                 -
72           1DayMakeover                E-Commerce               50,000
...                   ...                        ...                 ...
47693             zumatek             Biotechnology              150,000
47694       Zumba Fitness       Health and Wellness                 -
47696              Zumbox               Curated Web           28,300,000
47697           Zume Life                    iPhone            1,700,000
47698           Zumeo.com                Recruiting              100,000
47699       Zumi Networks                 Analytics              500,000
47700              Zumigo   Location Based Services            7,720,000
47702              Zumobi                    Mobile           12,000,000
47703              Zumper             Online Rental            8,200,000
47704               Zuora                   Billing          127,500,000
47706             Zuppler               Restaurants            1,240,000
47708        Zurex Pharma               Health Care           11,146,457
47717              Zuujit                E-Commerce            2,700,000
47718              zuuka!                      Apps                 -
47722              Zvents             Entertainment           55,200,000
47725             Zweemie                 Messaging              250,000
47728             Zwittle                  Software              190,000
47730              Zyante                      News              870,000
47732                Zyga           Medical Devices           55,750,000
47736               Zykis                Automotive              800,000
47737      Zylie the Bear                E-Commerce               75,000
47738      Zylun Staffing                  Software              666,154
47739      Zyme Solutions                  Hardware           12,039,999
47740            Zymergen             Biotechnology                 -
47741             Zymetis             Biotechnology            2,257,464
47742           Zymeworks             Biotechnology           38,900,000
47746               Zynga                Technology          866,550,786
47747            Zyngenia             Biotechnology           25,000,000
47749              ZYOMYX             Biotechnology           34,275,015
47757               [x+1]       Enterprise Software           45,000,000

          status country_code state_code                     region  \
0       acquired          USA         NY              New York City
4      operating          USA         NY              New York City
5      operating          USA         TX                     Dallas
9      operating          USA         IL      Springfield, Illinois
11     operating          USA         CA                SF Bay Area
14     operating          USA         CA                Los Angeles
15     operating          USA         NJ                     Newark
16     operating          USA         FL                    Orlando
17     operating          USA         MD                  Baltimore
18     operating          USA         OR           Portland, Oregon
21      acquired          USA         CA                SF Bay Area
22     operating          USA         WA                    Seattle
27      acquired          USA         CA                SF Bay Area
28     operating          USA         NY              New York City
29        closed          USA         OH                  Cleveland
33     operating          USA         CA                SF Bay Area
34     operating          USA         MA                     Boston
39     operating          USA         IL                    Chicago
40     operating          USA         TX                 TX - Other
42     operating          USA         RI                 Providence
49      acquired          USA         CA                Los Angeles
50     operating          USA         MA                     Boston
53     operating          USA         CA                SF Bay Area
54     operating          USA         CA                Los Angeles
56     operating          USA         CA                SF Bay Area
58     operating          USA         WA                    Seattle
59        closed          USA         FL                    Orlando
60      acquired          USA         MA                     Boston
67        closed          USA         WA                    Seattle
72        closed          USA         CA  Orange County, California
...          ...          ...        ...                        ...
47693  operating          USA         NC                    Raleigh
47694  operating          USA         FL                 FL - Other
47696     closed          USA         CA                Los Angeles
47697     closed          USA         CA                SF Bay Area
47698  operating          USA         OR                    Medford
47699  operating          USA         WA                    Seattle
47700  operating          USA         CA                SF Bay Area
47702  operating          USA         WA                    Seattle
47703  operating          USA         CA                SF Bay Area
47704  operating          USA         CA                SF Bay Area
47706  operating          USA         PA               Philadelphia
47708  operating          USA         WI                 WI - Other
47717     closed          USA         CA              Santa Barbara
47718   acquired          USA         CA              Santa Barbara
47722   acquired          USA         CA                SF Bay Area
47725  operating          USA         MI                      Flint
47728  operating          USA         UT             Salt Lake City
47730  operating          USA         CA                SF Bay Area
47732  operating          USA         MN                Minneapolis
47736     closed          USA         CA                    Anaheim
47737  operating          USA         CT                   Hartford
47738  operating          USA         UT             Salt Lake City
47739  operating          USA         CA                 CA - Other
47740  operating          USA         CA                SF Bay Area
47741     closed          USA         MD           Washington, D.C.
47742  operating          CAN         BC                  Vancouver
47746  operating          USA         CA                SF Bay Area
47747  operating          USA         MD           Washington, D.C.
47749  operating          USA         MO                 MO - Other
47757  operating          USA         NY              New York City

                 city  funding_rounds founded_at founded_quarter  \
0            New York               1     6/1/12         2012-Q2
4            New York               2     1/1/12         2012-Q1
5          Fort Worth               1     7/8/14         2014-Q3
9           Champaign               1     1/1/10         2010-Q1
11      Mountain View               2     1/1/11         2011-Q1
14        Los Angeles               1     1/1/86         1986-Q1
15             Iselin               1     1/1/84         1984-Q1
16            Orlando               1    12/7/13         2013-Q4
17           Woodbine               4     1/1/01         2001-Q1
18        Lake Oswego               1     1/1/08         2008-Q1
21      San Francisco               2     7/1/10         2010-Q3
22           Bellevue               5     1/1/08         2008-Q1
27      San Francisco               2    9/16/11         2011-Q3
28           New York               1     1/1/00         2000-Q1
29          Cleveland               1     4/1/09         2009-Q2
33            Oakland               1     1/1/12         2012-Q1
34          Lexington               1     1/1/10         2010-Q1
39            Chicago               1     1/1/13         2013-Q1
40           Amarillo               1    4/12/11         2011-Q2
42         Providence               6    10/7/11         2011-Q4
49     West Hollywood               1     1/1/12         2012-Q1
50            Bedford               8     1/1/07         2007-Q1
53      San Francisco               2    1/11/10         2010-Q1
54       Santa Monica               1     1/1/10         2010-Q1
56      San Francisco               3     5/1/11         2011-Q2
58            Seattle               1     1/1/06         2006-Q1
59          Lake Mary               1    5/15/09         2009-Q2
60            Bedford               1     1/1/90         1990-Q1
67           Kirkland               1     6/1/06         2006-Q2
72          Santa Ana               1    6/30/08         2008-Q2
...               ...             ...        ...             ...
47693     Chapel Hill               1     1/1/05         2005-Q1
47694      Hallandale               1     1/1/01         2001-Q1
47696     Los Angeles               4    10/1/06         2006-Q4
47697        San Jose               2    7/25/06         2006-Q3
47698         Medford               1     5/1/07         2007-Q2
47699        Kirkland               1     9/1/13         2013-Q3
47700        San Jose               3     1/1/08         2008-Q1
47702         Seattle               1     3/1/07         2007-Q1
47703   San Francisco               2     1/1/12         2012-Q1
47704     Foster City               5     1/1/07         2007-Q1
47706    Philadelphia               3   11/15/08         2008-Q4
47708       Middleton               4     1/1/10         2010-Q1
47717   Santa Barbara               1     1/1/10         2010-Q1
47718   Santa Barbara               2    4/10/09         2009-Q2
47722       San Mateo               4     3/1/05         2005-Q1
47725     Grand Blanc               1     1/1/09         2009-Q1
47728           Logan               1     1/1/11         2011-Q1
47730       Los Gatos               2     1/1/12         2012-Q1
47732      Minnetonka               6     1/1/08         2008-Q1
47736          Irvine               1   10/27/06         2006-Q4
47737       Greenwich               1     1/1/09         2009-Q1
47738            Lehi               1     1/1/10         2010-Q1
47739  Redwood Shores               5     1/1/04         2004-Q1
47740   San Francisco               1     1/1/13         2013-Q1
47741    College Park               2     1/1/06         2006-Q1
47742       Vancouver               5     4/1/04         2004-Q2
47746   San Francisco               9     7/1/07         2007-Q3
47747    Gaithersburg               1     1/1/08         2008-Q1
47749         Fremont               4     1/1/98         1998-Q1
47757        New York               4     1/1/99         1999-Q1

       founded_year first_funding_at last_funding_at
0            2012.0          6/30/12         6/30/12
4            2012.0          8/29/12          9/4/14
5            2014.0          8/17/14         8/17/14
9            2010.0          7/24/14         7/24/14
11           2011.0           1/3/13         7/19/14
14           1986.0          8/19/10         8/19/10
15           1984.0           3/2/11          3/2/11
16           2013.0          1/22/14         1/22/14
17           2001.0          6/18/09        12/28/11
18           2008.0          8/23/11         8/23/11
21           2010.0           1/1/10         2/16/11
22           2008.0         10/14/09         9/19/14
27           2011.0          11/2/11        11/30/11
28           2000.0           3/8/10          3/8/10
29           2009.0           4/1/09          4/1/09
33           2012.0          11/7/12         11/7/12
34           2010.0         10/12/11        10/12/11
39           2013.0          2/20/14         2/20/14
40           2011.0           9/3/14          9/3/14
42           2011.0           2/6/12          1/1/14
49           2012.0           4/5/12          4/5/12
50           2007.0          3/27/08        12/12/13
53           2010.0           7/1/09         4/28/11
54           2010.0           5/5/10          5/5/10
56           2011.0           1/1/12         10/2/14
58           2006.0          6/11/09         6/11/09
59           2009.0           6/1/09          6/1/09
60           1990.0          4/16/02         4/16/02
67           2006.0          8/12/08         8/12/08
72           2008.0          6/30/08         6/30/08
...             ...              ...             ...
47693        2005.0         11/23/10        11/23/10
47694        2001.0           3/8/12          3/8/12
47696        2006.0          6/23/08         7/10/12
47697        2006.0           1/1/07          4/1/08
47698        2007.0          1/29/09         1/29/09
47699        2013.0          10/1/13         10/1/13
47700        2008.0         12/28/10         8/22/14
47702        2007.0           5/7/07          5/7/07
47703        2012.0          5/30/12          3/4/14
47704        2007.0          3/13/08          9/5/13
47706        2008.0         11/15/12         8/15/14
47708        2010.0           5/2/11          7/2/14
47717        2010.0          4/30/10         4/30/10
47718        2009.0          1/24/11         6/11/12
47722        2005.0          10/5/05         9/30/11
47725        2009.0           6/3/10          6/3/10
47728        2011.0          4/19/12         4/19/12
47730        2012.0          12/1/13          4/2/14
47732        2008.0          10/6/08         9/25/14
47736        2006.0         10/27/06        10/27/06
47737        2009.0           6/7/12          6/7/12
47738        2010.0          8/28/14         8/28/14
47739        2004.0          9/12/05          5/1/14
47740        2013.0           1/1/14          1/1/14
47741        2006.0          1/11/10         1/31/10
47742        2004.0           3/3/08          1/9/14
47746        2007.0           1/1/07         2/18/11
47747        2008.0           9/9/10          9/9/10
47749        1998.0          1/29/10         3/26/14
47757        1999.0           6/1/08          4/4/13

[21749 rows x 14 columns]

In [75]:
#Correlation between features and labels
features.corr()

                funding_rounds  founded_year
funding_rounds         1.00000      -0.05837
founded_year          -0.05837       1.00000